/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.container-1 {
  border: 5px solid black;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.challenge-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  overflow-x: hidden;
}
.challenge-div img {
  border-radius: 5px;
  max-height: 180px;
}
.challenge-div img:hover {
  box-shadow: 2px 2px 20px blue;
}
.heading {
  margin: 20px;
}
.span-1 {
  margin: 0 20px;
  color: rgb(6, 175, 6);
}
.span-2 {
  margin: 0 20px;
  color: rgb(155, 0, 0);
}
.btn-container {
  padding: 10px;
}
.btn-container button {
  margin-bottom: 10px;
}
#head-1 {
  color: rgb(6, 175, 6);
}
#head-2 {
  color: rgb(155, 0, 0);
}
#head-3 {
  color: rgb(189, 170, 0);
}
.answer {
  display: none;
}
.green {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(6, 175, 6) !important;
}
.green:hover {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(6, 175, 6) !important;
}
.red {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(155, 0, 0) !important;
}
.red:hover {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(155, 0, 0) !important;
}
.yellow {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(189, 170, 0);
}
.yellow:hover {
  border-radius: 5px;
  height: 180px;
  box-shadow: 2px 2px 20px rgb(189, 170, 0) !important;
}
